

.animated-card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.animated-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.25em;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1em;
}
.container div a{
    text-decoration: none;
}

