.navbar{
    font-size: larger;

}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.75em;
    font-weight: bold;
}

.nav-link {
    font-size: 1.1em;
    padding: 10px 20px;
    margin-right: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: #4cbde0;
    color: #fff;
    border-radius: 5px;
}

.nav-item.active .nav-link {
    background-color: #003366;
    border-radius: 5px;
}